.mainContainer {
    padding: 2rem;
    border-radius: 8px;
    background-color: #edf2f4;
}

.secondaryDiv {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    background-color: #8d99ae;
    border-radius: 8px;
}